<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mall.goodsfile.mapper.GoodsFileMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.mall.common.entity.goods.GoodsFile" >
    <id column="IDS" property="ids" jdbcType="VARCHAR" />
    <result column="GOODSIDS" property="goodsids" jdbcType="VARCHAR" />
    <result column="FILEPATH" property="filepath" jdbcType="VARCHAR" />
    <result column="FILENAME" property="filename" jdbcType="VARCHAR" />
    <result column="FILETYPE" property="filetype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    IDS, GOODSIDS, FILEPATH, FILENAME, FILETYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chinasofti.mall.common.entity.goods.GoodsFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goods_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from goods_file
    where IDS = #{ids,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from goods_file
    where IDS = #{ids,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.chinasofti.mall.common.entity.goods.GoodsFileExample" >
    delete from goods_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.mall.common.entity.goods.GoodsFile" >
    insert into goods_file (IDS, GOODSIDS, FILEPATH, 
      FILENAME, FILETYPE)
    values (#{ids,jdbcType=VARCHAR}, #{goodsids,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{filename,jdbcType=VARCHAR}, #{filetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.mall.common.entity.goods.GoodsFile" >
    insert into goods_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ids != null" >
        IDS,
      </if>
      <if test="goodsids != null" >
        GOODSIDS,
      </if>
      <if test="filepath != null" >
        FILEPATH,
      </if>
      <if test="filename != null" >
        FILENAME,
      </if>
      <if test="filetype != null" >
        FILETYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ids != null" >
        #{ids,jdbcType=VARCHAR},
      </if>
      <if test="goodsids != null" >
        #{goodsids,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null" >
        #{filetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chinasofti.mall.common.entity.goods.GoodsFileExample" resultType="java.lang.Integer" >
    select count(*) from goods_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goods_file
    <set >
      <if test="record.ids != null" >
        IDS = #{record.ids,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsids != null" >
        GOODSIDS = #{record.goodsids,jdbcType=VARCHAR},
      </if>
      <if test="record.filepath != null" >
        FILEPATH = #{record.filepath,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null" >
        FILENAME = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.filetype != null" >
        FILETYPE = #{record.filetype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goods_file
    set IDS = #{record.ids,jdbcType=VARCHAR},
      GOODSIDS = #{record.goodsids,jdbcType=VARCHAR},
      FILEPATH = #{record.filepath,jdbcType=VARCHAR},
      FILENAME = #{record.filename,jdbcType=VARCHAR},
      FILETYPE = #{record.filetype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.mall.common.entity.goods.GoodsFile" >
    update goods_file
    <set >
      <if test="goodsids != null" >
        GOODSIDS = #{goodsids,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null" >
        FILEPATH = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        FILENAME = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null" >
        FILETYPE = #{filetype,jdbcType=VARCHAR},
      </if>
    </set>
    where IDS = #{ids,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.mall.common.entity.goods.GoodsFile" >
    update goods_file
    set GOODSIDS = #{goodsids,jdbcType=VARCHAR},
      FILEPATH = #{filepath,jdbcType=VARCHAR},
      FILENAME = #{filename,jdbcType=VARCHAR},
      FILETYPE = #{filetype,jdbcType=VARCHAR}
    where IDS = #{ids,jdbcType=VARCHAR}
  </update>
</mapper>