<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mall.goodsorder.mapper.PyShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    <id column="IDS" property="id" jdbcType="VARCHAR" />
    <result column="USERIDS" property="userId" jdbcType="VARCHAR" />
    <result column="VENDORID" property="vendorId" jdbcType="VARCHAR" />
    <result column="GOODS_IDS" property="goodsId" jdbcType="VARCHAR" />
    <result column="GOODS_PAY_IDS" property="goodsPayIds" jdbcType="VARCHAR" />
    <result column="GOODS_NUM" property="goodsNum" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="VARCHAR" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="VARCHAR" />
    <result column="CHECKED" property="checked" jdbcType="BOOLEAN" />
  </resultMap>  
  <resultMap id="ResultMapWithBLOBs" type="com.chinasofti.mall.common.entity.order.PyShoppingCart" extends="BaseResultMap" >
    <result column="ATTR" property="attr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithVendor" type="com.chinasofti.mall.common.entity.order.VendorShoppingcartVO" extends="BaseResultMap" >
    <result column="ATTR" property="attr" jdbcType="LONGVARCHAR" />
    <result column="VENDOR_FNM" property="vendorFnm" jdbcType="VARCHAR" />
    <result column="VENDOR_SNM" property="vendorSnm" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="DIS_PRICE" property="disPrice" jdbcType="DECIMAL"/>
    <result column="ORG_PRICE" property="orgPrice" jdbcType="DECIMAL"/>
    <result column="STANDARD" property="standard" jdbcType="VARCHAR" />
    <result column="TITLE" property="goodsName" jdbcType="VARCHAR" />
    <result column="FILEPATH" property="filepath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, USERIDS, VENDORID, GOODS_IDS, GOODS_PAY_IDS, GOODS_NUM, CREATE_TIME, PAY_STATUS, 
    CHECKED
  </sql>
  <sql id="Blob_Column_List" >
    ATTR
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from py_shopping_cart
    where IDS = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    delete from py_shopping_cart
    where 1=1 and IDS = #{id,jdbcType=VARCHAR}
    <if test="userId != null" >
      and  USERIDS = #{userId,jdbcType=VARCHAR}
      </if> 
      <if test="goodsId != null" >
      and  GOODS_IDS = #{goodsId,jdbcType=VARCHAR}
      </if>
  </delete>
  <insert id="insert" parameterType="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    insert into py_shopping_cart (IDS, USERIDS, VENDORID, 
      GOODS_IDS, GOODS_PAY_IDS, GOODS_NUM, 
      CREATE_TIME, PAY_STATUS, CHECKED, 
      ATTR)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{vendorId,jdbcType=VARCHAR}, 
      #{goodsId,jdbcType=VARCHAR}, #{goodsPayIds,jdbcType=VARCHAR}, #{goodsNum,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=VARCHAR}, #{payStatus,jdbcType=VARCHAR}, #{checked,jdbcType=BOOLEAN}, 
      #{attr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    insert into py_shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        IDS,
      </if>
      <if test="userId != null" >
        USERIDS,
      </if>
      <if test="vendorId != null" >
        VENDORID,
      </if>
      <if test="goodsId != null" >
        GOODS_IDS,
      </if>
      <if test="goodsPayIds != null" >
        GOODS_PAY_IDS,
      </if>
      <if test="goodsNum != null" >
        GOODS_NUM,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="payStatus != null" >
        PAY_STATUS,
      </if>
      <if test="checked != null" >
        CHECKED,
      </if>
      <if test="attr != null" >
        ATTR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null" >
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsPayIds != null" >
        #{goodsPayIds,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null" >
        #{goodsNum,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="checked != null" >
        #{checked,jdbcType=BOOLEAN},
      </if>
      <if test="attr != null" >
        #{attr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    update py_shopping_cart
    <set >
      <if test="userId != null" >
        USERIDS = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null" >
        VENDORID = #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null" >
        GOODS_IDS = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsPayIds != null" >
        GOODS_PAY_IDS = #{goodsPayIds,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null" >
        GOODS_NUM = #{goodsNum,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="checked != null" >
        CHECKED = #{checked,jdbcType=BOOLEAN},
      </if>
      <if test="attr != null" >
        ATTR = #{attr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where IDS = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    update py_shopping_cart
    set USERIDS = #{userId,jdbcType=VARCHAR},
      VENDORID = #{vendorId,jdbcType=VARCHAR},
      GOODS_IDS = #{goodsId,jdbcType=VARCHAR},
      GOODS_PAY_IDS = #{goodsPayIds,jdbcType=VARCHAR},
      GOODS_NUM = #{goodsNum,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      PAY_STATUS = #{payStatus,jdbcType=VARCHAR},
      CHECKED = #{checked,jdbcType=BOOLEAN},
      ATTR = #{attr,jdbcType=LONGVARCHAR}
    where IDS = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    update py_shopping_cart
    set 
      GOODS_NUM = #{goodsNum,jdbcType=DECIMAL}
    where 1=1
      and IDS = #{id,jdbcType=VARCHAR}
     <if test="userId != null" >
      and  USERIDS = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="goodsId != null" >
      and  GOODS_IDS = #{goodsId,jdbcType=VARCHAR}
      </if>
  </update>
 <select id="getPyShoppingCartListByUserId" resultMap="ResultMapWithVendor"
	parameterType="java.lang.String">
SELECT
	s.`IDS`,s.`VENDORID`,s.`GOODS_IDS`,s.`USERIDS`,s.`GOODS_NUM`,s.`GOODS_PAY_IDS`,s.`PAY_STATUS`,s.`CREATE_TIME`
	, s.`ATTR`, s.`CHECKED`,
	m.`VENDOR_FNM`,m.`VENDOR_SNM`,g.`PRICE`, g.`DIS_PRICE`,g.`ORG_PRICE`,g.`STANDARD`, g.`TITLE`,f.`FILEPATH`
	FROM py_shopping_cart s ,chn_goodsinfo g, sp_merchant_user m ,goods_file f
	WHERE s.`VENDORID`=m.`VENDOR_ID` AND g.`IDS`=s.`GOODS_IDS` AND f.`GOODSIDS`=g.`IDS`
	AND USERIDS = #{userId,jdbcType=VARCHAR} ORDER BY s.`GOODS_IDS`
</select>
  <select id="IsUserExistGoods" resultMap="ResultMapWithBLOBs" parameterType="com.chinasofti.mall.common.entity.order.PyShoppingCart" >
    select 
    <include refid="Base_Column_List" />
     ,
    <include refid="Blob_Column_List" />
    from py_shopping_cart
    where 1=1
       and USERIDS = #{userId,jdbcType=VARCHAR} and GOODS_IDS = #{goodsId,jdbcType=VARCHAR}
     <if test="vendorId != null" >
      and  VENDORID = #{vendorId,jdbcType=VARCHAR}
     </if>
  </select>
</mapper>