

.icon-wechat{ background:url('icons/wechat.png') no-repeat center center;}

.icon-setting-black{ background:url('icons/setting_black.png') no-repeat center center;}

.icon-setting-blue{ background:url('icons/setting_blue.png') no-repeat center center;}