<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mall.user.mapper.SpSendAddressMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.mall.common.entity.spuser.SpSendAddress" >
    <id column="IDS" property="addressId" jdbcType="VARCHAR" />
    <result column="USER_IDS" property="userId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="ZIPCODE" property="zipCode" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="DISTRICT" property="district" jdbcType="VARCHAR" />
    <result column="STREET" property="street" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column" >
    IDS, USER_IDS, NAME, MOBILE,ZIPCODE,PROVINCE,CITY,DISTRICT,STREET,ADDRESS,CREATETIME
  </sql>
  
  <select id="selectSentAddressList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column" />
    from sp_cont_address
    where user_ids = #{userId,jdbcType=VARCHAR} ORDER BY CREATETIME
  </select>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.chinasofti.mall.common.entity.spuser.SpSendAddress" >
    insert into sp_cont_address 
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        IDS,
      </if>
      <if test="userId != null" >
        USER_IDS,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="zipCode != null" >
        ZIPCODE,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="district != null" >
        DISTRICT,
      </if>
      <if test="street != null" >
        STREET,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="createTime != null" >
        CREATETIME
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
   	  <if test="district != null" >
        #{district,jdbcType=VARCHAR},
      </if>
       <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
   	  <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  
  <delete id="delete" parameterType="com.chinasofti.mall.common.entity.spuser.SpSendAddress" >
    delete from sp_cont_address
    where ids = #{addressId,jdbcType=VARCHAR}
      and user_ids =#{userId,jdbcType=VARCHAR}
  </delete>
  
  <update id="update" parameterType="com.chinasofti.mall.common.entity.spuser.SpSendAddress">
    update sp_cont_address
      <set>
      	<if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null" >
        ZIPCODE = #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="district != null" >
        DISTRICT = #{district,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        STREET = #{street,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR}
      </if>
      </set>
    where user_ids = #{userId,jdbcType=VARCHAR} 
      and ids = #{addressId,jdbcType=VARCHAR}
  </update>
  
  
</mapper>