<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mall.batch.mapper.PyBigGoodsorderMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.mall.batch.bean.PyBigGoodsorder" >
    <id column="IDS" property="ids" jdbcType="VARCHAR" />
    <result column="TRANSACTIONID" property="transactionid" jdbcType="VARCHAR" />
    <result column="ORDER_DATE" property="orderDate" jdbcType="VARCHAR" />
    <result column="ORDER_REAL_AMT" property="orderRealAmt" jdbcType="DECIMAL" />
    <result column="DISCOUNT" property="discount" jdbcType="DECIMAL" />
    <result column="ORDER_TOTAL_AMT" property="orderTotalAmt" jdbcType="DECIMAL" />
    <result column="GOODS_TOTAL_AMT" property="goodsTotalAmt" jdbcType="DECIMAL" />
    <result column="USER_IDS" property="userIds" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="PAYWAY" property="payway" jdbcType="VARCHAR" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="VARCHAR" />
    <result column="CHECKING_STATUS" property="checkingStatus" jdbcType="VARCHAR" />
    <result column="CHECK_DATE" property="checkDate" jdbcType="VARCHAR" />
    <result column="CHECK_BATCH_NO" property="checkBatchNo" jdbcType="VARCHAR" />
    <result column="WX_FEE" property="wxFee" jdbcType="DECIMAL" />
    <result column="PAY_TIME" property="payTime" jdbcType="VARCHAR" />
    <result column="IS_TICKET" property="isTicket" jdbcType="VARCHAR" />
    <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR" />
    <result column="INVOICE_TITLE" property="invoiceTitle" jdbcType="VARCHAR" />
    <result column="INVOICE_ADDRESS" property="invoiceAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, TRANSACTIONID, ORDER_DATE, ORDER_REAL_AMT, DISCOUNT, ORDER_TOTAL_AMT, GOODS_TOTAL_AMT, 
    USER_IDS, STATUS, PAYWAY, PAY_STATUS, CHECKING_STATUS, CHECK_DATE, CHECK_BATCH_NO, 
    WX_FEE, PAY_TIME, IS_TICKET, INVOICE_TYPE, INVOICE_TITLE, INVOICE_ADDRESS
  </sql>
  <!-- 查询7天内未支付的订单 -->
   <select id="selectOrderNotPay" resultMap="BaseResultMap">
   SELECT 
    <include refid="Base_Column_List" />
    FROM py_big_goodsorder
    <where>
    	PAY_STATUS='0'
    		AND
    	ORDER_DATE <![CDATA[>=]]> #{beginTime}
    		AND
		ORDER_DATE <![CDATA[<]]> #{endTime}
    </where>
  </select>
  
  <!-- 更新7天内未支付的订单为: 已取消-2 -->
  <update id="updatePaywayStatus" parameterType="com.chinasofti.mall.batch.bean.PyBigGoodsorder" >
  	 UPDATE py_big_goodsorder
  	 <set>
  	 	PAY_STATUS = ${order.payStatus}
  	 </set>
  	 <where>
  	 	TRANSACTIONID = ${order.transactionid}
  	 </where>
  </update>
</mapper>